<footer data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="0" class="bg-dark py-3" tabindex="0" id="ftr">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 mb-2">
        <a class="navbar-brand d-flex align-items-center" href="/">
          <img src="img/logo.png" onerror="this.src='../img/logo.png'" style="height: 50px;">
          <h3 class="ms-2 mb-0">IT Spec</h3>
        </a>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h2 class="text-white">Контакты:</h2>
          <div class="fs-4 mb-1">ООО "IT-СПЕЦАВТОМАТИКА"</div>
          <div class="fs-4 mb-1">ИНН 4027134030</div>
          <div class="fs-4 mb-1">
            <i class="bi bi-telegram"></i>
            <i class="bi bi-whatsapp"></i>
          </div>
          <div class="fs-4 mb-1">
            <i class="bi bi-envelope"></i>
            info@itspec.ru
          </div>
          <div class="fs-4 mb-1">
            <i class="bi bi-telephone"></i>
            8(800) 250 29 88
          </div>
          <div class="fs-4 mb-1">
            <i class="bi bi-geo-alt"></i>
            248000, Калужская область, г. Калуга, пер. Старообрядческий, дом 9, офис 176
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <h2>Остались вопросы?</h2>
          <form action="/quest" method="post" onsubmit="submitForm(event)">
            <div class="mb-3">
              <input type="text" class="form-control" id="name" placeholder="Вашe имя" required>
            </div>
            <div class="mb-3">
              <input type="tel" id="phone" class="form-control" name="phone" placeholder="+7 (999) 999-99-99"
                required />
            </div>
            <input type="submit" value="Оставить заявку" class="btn btn-primary">

          </form>

        </div>
      </div>
    </div>
  </div>
</footer>


<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div class="toast" role="alert" id="formToast" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Успешно!</strong>
      <small>3 сек</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body" id="formToastBody"></div>
  </div>
</div>