<footer data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="0" class="bg-dark py-3" tabindex="0" id="ftr">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 mb-2">
        <a class="navbar-brand d-flex align-items-center" href="/">
          <img src="img/logo.png" onerror="this.src='../img/logo.png'" style="height: 50px;">
          <h3 class="ms-2 mb-0">IT Spec</h3>
        </a>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h2 class="text-white">Контакты:</h2>
          <div class="fs-4 mb-1">ООО "IT-СПЕЦАВТОМАТИКА"</div>
          <div class="fs-4 mb-1">ИНН 4027134030</div>
          <div class="fs-4 mb-1">
            <i class="bi bi-telegram"></i>
            <i class="bi bi-whatsapp"></i>
          </div>
          <div class="fs-4 mb-1">
            <i class="bi bi-envelope"></i>
            info@itspec.ru
          </div>
          <div class="fs-4 mb-1">
            <i class="bi bi-telephone"></i>
            8(800) 250 29 88
          </div>
          <div class="fs-4 mb-1">
            <i class="bi bi-geo-alt"></i>
            248000, Калужская область, г. Калуга, пер. Старообрядческий, дом 9, офис 176
          </div>
        </div>
        <div class="col-md-4 col-sm-12" id="send">
          <h2>Остались вопросы?</h2>

          <form id="contact-form">
            <div class="mb-3">
              <input type="text" class="form-control" id="name" name="name" placeholder="Ваше имя" required>
            </div>
            <div class="mb-3">
              <input type="tel" id="phone" class="form-control" name="phone" placeholder="+7 (999) 999-99-99" required>
            </div>
            <button type="submit" class="btn btn-primary">Отправить заявку</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</footer>


<!-- Сообщения об успешной отправке и об ошибке -->
<div class="position-fixed top-0 end-0 p-5" style="z-index: 1050">
    <div id="success-message" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Успешно!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Заявка успешно отправлена
        </div>
    </div>
    <div id="error-message" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Ошибка!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Произошла ошибка при отправке заявки, попробуйте еще раз
        </div>
    </div>
</div>


<script>
document.getElementById('contact-form').addEventListener('submit', function(event) {
  event.preventDefault(); // Предотвратить стандартное отправление формы

  // Получение данных формы
  const formData = new FormData(this);

  // Преобразование данных формы в JSON
  const data = {};
  formData.forEach((value, key) => {
    data[key] = value;
  });

  // Отправка данных на сервер
  fetch('/quest', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(data)
  })
  .then(response => response.json()) // Преобразование ответа в JSON
  .then(data => {
    console.log('Success:', data);
    // Показать toast с успешным сообщением
    const successToast = new bootstrap.Toast(document.getElementById('success-message'));
    successToast.show();
  })
  .catch((error) => {
    console.error('Error:', error);
    // Показать toast с сообщением об ошибке
    const errorToast = new bootstrap.Toast(document.getElementById('error-message'));
    errorToast.show();
  });
});
</script>
