<header class="bg-dark py-3">
  <nav class="navbar navbar-expand-lg navbar-dark container">
    <a class="navbar-brand" href="#">
      <img src="https://static.tildacdn.com/tild6163-6632-4530-b836-353966396362/Group_7120.svg" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link {{#if (eq current_path '/')}}active{{/if}}" href="/">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if (eq current_path '/services')}}active{{/if}}" href="/services">Услуги</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if (eq current_path '/about')}}active{{/if}}" href="/about">О нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="scrollToFooter()">Контакты</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container pt-5 mt-5">
    <div class="row">
      <div class="col-12 mt-5">
        <h1 class="text-center text-white big-title mb-5 text-uppercase">{{header_title}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-5">
        <a class="btn btn-primary site-btn mb-5" href="chat">Получить консультацию</a>
      </div>
    </div>
  </div>
</header>
