<!-- Сообщения об успешной отправке и об ошибке -->
<div class="position-fixed top-0 end-0 p-5" style="z-index: 1050">
    <div id="success-message" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Успешно!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Заявка успешно отправлена
        </div>
    </div>
    <div id="error-message" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Ошибка!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Произошла ошибка при отправке заявки, попробуйте еще раз
        </div>
    </div>
</div>
