.card-img-top {
    height: 15rem;
    object-fit: cover;
    display: block;
}

.card {
    overflow: hidden;
    padding: 1px;
    background-color: #dbdbdb87;
}

.custom-container {
    background-color: #dbdbdb87;
    border-radius: 2rem;
    padding: 1px;
    margin-bottom:100px;
  }

  .custom-img-l{
    width: 100%;
    height: 25rem;

    object-fit: cover;
    object-position: center;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }

  .custom-img-r{
    width: 100%;
    height: 25rem;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;

  }
