header, footer {
    color: white;
    background: url(../img/abstract.jpg);
    background-size: cover;
    background-blend-mode: overlay;
    padding: 60px 0;
}

.big-title {
    animation: fadeIn 2s ease-in forwards;
}

.site-btn {
    animation: fadeIn 2s ease-in forwards;
    width: 220px;
    border-radius: 0.375rem;
    display: flex;
    margin: 30px auto;
    transition: all 0.3s ease;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

