
header, footer {
	color: white;
    background: url(../img/back.gif);
    /* background-size: cover; */
    padding: 60px 0;
}
footer::before {
    background: inherit;
    z-index: -1;
}

.big-title {
    animation: fadeIn 2s ease-in forwards;
}

.site-btn {
    animation: fadeIn 2s ease-in forwards;
    width: 20rem;
    border-radius: 2rem;
    display: flex;
    margin: 30px auto;
    transition: all 0.3s ease;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    padding: 10px 20px;
    border: none; /* Убирает стандартный бордер кнопки */
    color: #fff; /* Цвет текста */
    background-color: #007bff; /* Цвет фона */
}

.site-btn:hover {
    background-color: #0056b3; /* Цвет фона при наведении */
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

