.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Чтобы кнопка всегда была на переднем плане */
}

.floating-button button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
